<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <span class="navbar-brand  h1">
            SINGLE CRUD WITH ANGULAR - FIREBASE - BOOTSTRAP
        </span>
        <div class="d-flex">
            <a href="https://github.com/CiroDJC" target="_blank"><i class="fs-3 bi bi-github float-end text-light"></i></a>
            <a href="https://www.linkedin.com/in/cirodjc/" target="_blank"><i class="fs-3 bi bi-linkedin float-end ms-3 text-light"></i></a>
        </div>
    </div>
</nav>


