<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3 text-center">LIST PERSONS</span>
            <button type="button" class="btn btn-outline-dark float-end" routerLink="/create-persons">
                <i class="bi bi-person-plus"></i>
            </button>
            <div *ngIf="persons.length == 0" class="text-center fw-bold mt-3 alert alert-warning" role="alert">
                NO ITEMS TO DISPLAY :(
            </div>
            <table *ngIf="persons.length > 0" class="table table-hover mt-3">
                <thead>
                    <tr>
                        <th scope="col">Firt Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Age</th>
                        <th scope="col">Email</th>
                        <th scope="col">Mobile Number</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let person of persons">
                        <td>{{person.firstName}}</td>
                        <td>{{person.lastName}}</td>
                        <td>{{person.Age}}</td>
                        <td>{{person.Email}}</td>
                        <td>{{person.mobileNumber}}</td>
                        <td class="text-center">
                            <button type="button" class="btn btn-outline-primary" [routerLink]="['/update-persons/',person.id]">
                                <i class="bi bi-pencil-square"></i>
                            </button>
                            <button (click)="deletePerson(person.id)" type="button" class="btn btn-outline-danger ms-2">
                                <i class="bi bi-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>