<div class="container mt-4">
    <div class="card bg-opacity">
        <div class="card-body text-center">
            <span class="h3">LIST PERSONS</span>
            <button type="button" class="btn btn-outline-dark float-end mb-3" routerLink="/create-persons">
                <i class="bi bi-person-plus"></i>
            </button>
            <div *ngIf="persons.length == 0" class="text-center fw-bold mt-3 alert alert-warning" role="alert">
                <i class="fs-5 bi bi-exclamation-circle-fill"> No items to display</i>
            </div>
            <table class="table table-hover" style="width:100%" id="datatableExample" *ngIf="persons.length > 0" >
                <thead>
                    <tr>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Age</th>
                        <th scope="col">Email</th>
                        <th scope="col">Mobile Number</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                        <tr *ngFor="let person of persons">
                        <td>{{person.firstName}}</td>
                        <td>{{person.lastName}}</td>
                        <td>{{person.Age}}</td>
                        <td>{{person.Email}}</td>
                        <td>{{person.mobileNumber}}</td>
                        <td class="text-center">
                            <button type="button" class="btn btn-outline-primary"
                                [routerLink]="['/update-persons/',person.id]">
                                <i class="bi bi-pencil-square"></i>
                            </button>
                            <button type="button" class="btn btn-outline-danger ms-2" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">
                                <i class="bi bi-trash"></i>
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title text-dark fs-5" id="exampleModalLabel">Delete Person</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body text-dark">
                                            Do you want delete this person?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-outline-primary"
                                                data-bs-dismiss="modal">No</button>
                                            <button  (click)="deletePerson(person.id)" type="button"
                                            class="btn btn-outline-danger" data-bs-dismiss="modal"
                                                routerLink="/list-persons" onclick="location.reload()">Yes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>