/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';

body {
    background-image: url('./assets/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
